*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
text-align: center;
font-size: 12px;
}

.bell{
    max-width: 25%;
}

.social {
    max-width: 15%;
}
.emblem {
    max-width: 15%;
}
.pp{
    max-width: 25%;
}

/**Grid Layout**/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "navigation" "main";
}

.top-header {
    grid-area: header;
    background-color: rgb(127, 122, 192);

}

nav {
    grid-area: navigation;
    background-color: rgb(91, 90, 134);
}

.main {
    grid-area: main;
}

/**header**/
.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-head {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/**nav*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}






/***Toggle styles*/
input[type="checkbox"].toggle {
    opacity: 0;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
   display: flex;
   justify-content: start;
   align-items: center;
    content: "ON";
    width: 4em;
    height: 2em;
    font-size: 1em;
    background-color: rgb(157, 91, 219);
    border-radius: 1em;
    color: white;
    margin-right: .25em;
    transition: 200ms ease-in-out;

}

input[type="checkbox"].toggle + label::after {
    position: absolute;
    left: .1em;
    content: "";
    width: 1.9em;
    height: 1.9em;
    background-color: rgb(221, 221, 221);
    border-radius: 1em;
    transition: 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: rgb(221, 221, 221);
}





@media (min-width: 768px){
    .grid-container {
        grid-template-columns: 50% 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
         
    }
  .header{
      grid-area: header;
  }
  .nav {
      grid-area: navigation;
      display: flex;
      flex-direction: column;
  }
  
  
}

@media (min-width: 768px) {
    .main{
        grid-template-columns: 50%;
    }
    .traffic, .social{
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 2 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
}
