*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
text-align: center;
align-items: center;
font-family: "Lucida Console", "Courier New", monospace;
font-style: normal ;


}

/*Image sizes----------------------------------------------------------------*/
.bell{
    max-width: 14%;
    fill: white;
}
.sm {
    background-color: rgb(127, 122, 192);
    fill:white;
    border: solid 10px rgb(127, 122, 192);
    border-radius: 90px;
    padding: 2px;
   
    
}

.icon {
    fill: white;
}

.emblem {
    max-width: 15%;
    fill: white;
}
.pp{
    max-width: 25%;
    border-radius: 50%;
    margin-top: 10px;
}

.member-container {
    border: solid rgb(214, 205, 205);
}


/*SVG-----------------------------*/
.face {
    color: aliceblue;
}

/*JavaScript---------------------------------------*/
.daily-traffic {
    border: solid 1px grey;
}

.mobile-donut {
    border:solid 1px grey;
}

/*Font sizes--------------------------------------------------------------------------*/
.stext {
    font-size: 23px;
}
/**Grid Layout--------------------------------------------------------------------**/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "navigation" "main";
}

.top-header {
    grid-area: header;
    background-color: rgb(127, 122, 192);
    padding-top: 10px;
    padding-bottom: 10px;

}

nav {
    grid-area: navigation;
    background-color: rgb(91, 90, 134);
}

.main {
    grid-area:main;
    
}

.headline {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

/**header---------------------------------------------------------------------**/
.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}
.top-head {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: whitesmoke;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tab {
height: 50px;
width: 65%;
background-color: rgba(105, 87, 87, 0.24);
margin-bottom: 10px;
}

/**nav-------------------------------------------------------------------------------*/


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: whitesmoke;
    
}
/*alert tab-------------------------------------------------------------------------------------------*/
.alert-banner {
    display: flex;
    flex-direction: row;
    background-color: rgb(127, 122, 192);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    color: whitesmoke;
    border-radius: 10px;
}
.alert {
    padding : 5px;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding-right:8px;
    padding-left: 8px;
}

.traffic-nav-link {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 10px;
}
/*charts*----------------------------------------------------------------------------------------------*/
#traffic-chart {
    height: 400px;
}

/*social------------------------------------------------------------------------------------------------*/

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(194, 202, 185);
    padding: 38px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}


.low {
    margin-bottom: 7px;
}


.widget-container {
    display: flex;
    flex-direction: column;
}

/*Form---------------------------------------------------------------*/
.form-field {
    padding: 15px 60px 15px 0px ;
    border-radius: 5px;
    text-align: start;
    width: 220px;
    color: rgb(167, 163, 163);  
}
.form-area {
    padding: 3px 72px 55px 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
.button-primary {
    padding: 15px 36px 15px 36px;
    width : 225px;
    border-radius: 5px; 
    background-color: rgb(127, 122, 192);
    color: whitesmoke;
    font-weight: bold;
}


/***Toggle styles-----------------------------------------------------------------*/
input[type="checkbox"].toggle {
    opacity: 0;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label {
   position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
   display: flex;
   justify-content: start;
   align-items: center;
    content: "ON";
    width: 4em;
    height: 2em;
    font-size: 1em;
    background-color: rgb(127, 122, 192);
    border-radius: 1em;
    color: white;
    margin-right: .25em;
    transition: 200ms ease-in-out;

}

input[type="checkbox"].toggle + label::after {
   position: absolute;
    right: 2.3em;
    content: "";
    width: 1.9em;
    height: 1.9em;
    background-color: rgb(221, 221, 221);
    border-radius: 1em;
    transition: 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: rgb(221, 221, 221);
}

.button-primary1 {
width: 98px; 
height: 40px; 
margin-right: 10px;
background-color: rgb(127, 122, 192);
color: whitesmoke;
border-radius: 5px;
}

.button-disabled {
width: 98px; 
height: 40px;
color: whitesmoke;
border-radius: 5px;
background-color: rgb(191, 192, 182);
}


/*--------------------------------------------------------------------------------------*/

@media (min-width: 768px){

    .grid-container {
    margin-left: 90px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(200px, auto);
    grid-row-gap: 20px;
    grid-template-areas: 
    "header header"
    "navigation main"
     "social social"
     "account account"
     "ra ra"
     "sign sign"
     "set set"
}


.emblem {
    
    max-width: 90%;
    margin-bottom: 20px;
    
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 75px;
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 0;
    background-color: rgb(91, 90, 134);
    overflow-x: hidden;
    padding: 0;

  }
  
.charts {
    grid-column-start:1 ;
    grid-column-end:-1 ;
}

.daily-traffic {
    grid-area: navigation;
}

.mobile-donut {
    grid-area: main;
}

.shead {
    grid-area: social;
    margin-bottom: 150px;
}
/*Social Icons--------------------------------------------------------------------*/

.look {
    width: 25%;
    grid-area: social;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}


/*Social Activity-----------------------------------*/

.members {
grid-area: account;

}
#move{
    margin-bottom: 110px;
}

.member-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: solid rgb(214, 205, 205);
}

.low {
flex-basis: 100%;
font-size: large;
font-weight: bold;
}

.members-text {
    margin-left: 20px;
}
/*Recent social activity---------------------------------------*/

.recent-activity {
grid-area: ra;

}

/*Form-----------------------------------------------------------------------------------*/


.form-field {
width: 98%;
}
.form-area{
    width: 98%;
}
.button-primary{
    width: 98%;
}
/*footer----------------------------------------------------------------------------------*/
.message {
    grid-area: sign;
}

.settings {
    grid-area: set;
    
}

.settings-buttons{
    display: flex;
    flex-direction: row;
}

.button-primary1 {
    width: 50%;
}
.button-disabled {
    width: 48%;
}
}


/*Min Width of 1024px -----------------------------------------------------------------------------*/ 
@media (min-width: 1024px) {
    .grid-container {
        margin-left: 90px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: minmax(200px, auto);
        grid-row-gap: 20px;
        grid-template-areas: 
        "header header"
        "navigation main"
        "social social"
        "social1 social2"
        "settings1 settings2"
}


.look {
    width: 25%;
    grid-area: social;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
}
.members {
    grid-area:social1;
}
.recent-activity {
    grid-area: social2;
}
.message {
    grid-area: settings1;
}
.settings {
    grid-area: settings2;
}

}
